<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.hytekFront.servlets.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <display-name>projet-JEE-eCommerce-20220705</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Header</display-name>
    <servlet-name>Header</servlet-name>
    <servlet-class>com.hytekFront.servlets.Header</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Header</servlet-name>
    <url-pattern>/Header</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Footer</display-name>
    <servlet-name>Footer</servlet-name>
    <servlet-class>com.hytekFront.servlets.Footer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Footer</servlet-name>
    <url-pattern>/Footer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Produits</display-name>
    <servlet-name>Produits</servlet-name>
    <servlet-class>com.hytekFront.servlets.Produits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Produits</servlet-name>
    <url-pattern>/Produits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnexionInscription</display-name>
    <servlet-name>ConnexionInscription</servlet-name>
    <servlet-class>com.hytekFront.servlets.ConnexionInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionInscription</servlet-name>
    <url-pattern>/ConnexionInscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deconnexion</display-name>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.hytekFront.servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recherches</display-name>
    <servlet-name>Recherches</servlet-name>
    <servlet-class>com.hytekFront.servlets.Recherches</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recherches</servlet-name>
    <url-pattern>/Recherches</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>Contact</servlet-name>
    <servlet-class>com.hytekFront.servlets.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Produits_List</display-name>
    <servlet-name>Produits_List</servlet-name>
    <servlet-class>com.hytekFront.servlets.Produits_List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Produits_List</servlet-name>
    <url-pattern>/Produits_List</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Produit_Card</display-name>
    <servlet-name>Produit_Card</servlet-name>
    <servlet-class>com.hytekFront.servlets.Produit_Card</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Produit_Card</servlet-name>
    <url-pattern>/Produit_Card</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Panier</display-name>
    <servlet-name>Panier</servlet-name>
    <servlet-class>com.hytekFront.servlets.Panier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panier</servlet-name>
    <url-pattern>/Panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Commandes</display-name>
    <servlet-name>Commandes</servlet-name>
    <servlet-class>com.hytekFront.servlets.Commandes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Commandes</servlet-name>
    <url-pattern>/Commandes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Produits_Per_CategorieN0</display-name>
    <servlet-name>Produits_Per_CategorieN0</servlet-name>
    <servlet-class>com.hytekFront.servlets.Produits_Per_CategorieN0</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Produits_Per_CategorieN0</servlet-name>
    <url-pattern>/Produits_Per_CategorieN0</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Favoris</display-name>
    <servlet-name>Favoris</servlet-name>
    <servlet-class>com.hytekFront.servlets.Favoris</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Favoris</servlet-name>
    <url-pattern>/Favoris</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Utilisateurs_Index</display-name>
    <servlet-name>Utilisateurs_Index</servlet-name>
    <servlet-class>com.hytekFront.servlets.Utilisateurs_Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Utilisateurs_Index</servlet-name>
    <url-pattern>/Utilisateurs_Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Utilisateurs_UpdatePassword</display-name>
    <servlet-name>Utilisateurs_UpdatePassword</servlet-name>
    <servlet-class>com.hytekFront.servlets.Utilisateurs_UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Utilisateurs_UpdatePassword</servlet-name>
    <url-pattern>/Utilisateurs_UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FavorisPage</display-name>
    <servlet-name>FavorisPage</servlet-name>
    <servlet-class>com.hytekFront.servlets.FavorisPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavorisPage</servlet-name>
    <url-pattern>/FavorisPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommandesHistorique</display-name>
    <servlet-name>CommandesHistorique</servlet-name>
    <servlet-class>com.hytekFront.servlets.CommandesHistorique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandesHistorique</servlet-name>
    <url-pattern>/CommandesHistorique</url-pattern>
  </servlet-mapping>
</web-app>